[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
numpy = "*"
importlib-resources = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
